.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 3;
  @include breakpoint(medium) {
    padding: 60px;
  }
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include breakpoint(medium) {
    height: 60px;
  }
  @include breakpoint(large) {
    height: 100px;
  }
}

.logo {
  margin-right: 20px;
  position: fixed;
  z-index: 100;
  width: 60px;
  height: 60px;
  left: 20px;
  top: 20px;
  @include breakpoint(medium) {
    width: 80px;
    height: 80px;
    left: 40px;
    top: 40px;
  }
  @include breakpoint(large) {
    width: 100px;
    height: 100px;
    left: 60px;
    top: auto;
  }
}

.nav {
  display: none;
  @include breakpoint(medium) {
    display: flex;
    margin: 0 -20px;
  }
  @include breakpoint(large) {
    margin: 0 -45px;
  }

  a {
    text-transform: uppercase;
    display: block;
    @include breakpoint(medium) {
      padding: 0 20px;
    }
    @include breakpoint(large) {
      padding: 0 45px;
    }

    &.active {
      font-weight: $font-weight-bold;
      color: $primary-color;
    }
  }
}
