.reference-list {
  display: grid;
  gap: 40px;
  margin-top: 40px;
  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 2fr);
  }

  @include breakpoint(large) {
    margin-top: 100px;
    gap: 100px;
  }
  .reference-item {
    &.large {
      @include breakpoint(medium) {
        grid-row: span 2;
      }
    }
  }
}
