.reference-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 40px;
  @include breakpoint(large) {
    gap: 100px;
  }
  .reference-item {
    &.large {
      @include breakpoint(large) {
        grid-row: span 2;
      }
    }
  }
}
