$primary-color: #ff6056;
$secondary-color: #ca83eb;
$gradient: radial-gradient(
  142.51% 233.83% at 0% 0%,
  #{$primary-color} 0%,
  #6a47f3 100%
);
$black: #2e2c38;
$white: #fbf9ff;
$background: linear-gradient(90deg, #0a090f 0%, #0d0723 100%);

$container-max-width: 1600px;
$container-padding: 1rem;
$container-padding-lg: 1.5rem;

$breakpoints: (
  "small": 360px,
  "medium": 820px,
  "large": 1280px,
  "xlarge": 1820px,
);

$font-weight-semi: 600;
$font-weight-bold: 700;

$font-family-heading: "Poppins", sans-serif;
