$primary-color: #ff5a4e;
$secondary-color: #c89eff;
$gradient: radial-gradient(
  142.51% 233.83% at 0% 0%,
  #{$primary-color} 0%,
  #7758f7 100%
);
$black: #353244;
$white: #fbf9ff;
$background: linear-gradient(90deg, #0a090f 0%, #0d0723 100%);

$container-max-width: 1600px;
$container-padding: 1.5rem;
$container-padding-lg: 2rem;

$breakpoints: (
  "small": 360px,
  "medium": 820px,
  "large": 1280px,
  "xlarge": 1420px,
  "xxlarge": 1920px,
);

$font-weight-semi: 600;
$font-weight-bold: 700;

$font-family-heading: "Poppins", sans-serif;
