.button {
  display: inline-block;
  position: relative;
  .inner {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    color: $white;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    width: auto;
    background-color: $primary-color;
    justify-content: flex-start;
    transition: color 300ms ease;
  }

  &:before {
    position: absolute;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    background-color: $black;
    z-index: 0;
    content: " ";
    transform: scaleX(0);
    transition: transform 300ms ease;
    transform-origin: left;
  }

  span {
    position: relative;
    z-index: 0;
  }

  path {
    transition: fill 300ms ease;
    fill: $primary-color;
  }

  svg {
    padding-left: 20px;
    position: relative;
    fill: $white;
    z-index: 1;
    path {
      fill: $white;
    }
  }

  &:hover {
    color: $white;

    &:before {
      transform: scaleX(1);
    }
  }
}
