.inner {
  display: block;
  position: relative;
  &:hover {
    .front {
      transform: rotateY(-180deg);
    }
    .back {
      transform: rotateY(0);
    }
  }
}
.container {
  padding: clamp(10px, 3vw, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 800ms ease;
  color: $white;
  border-radius: 15px;
  backface-visibility: hidden;
  min-height: 300px;
  @include breakpoint(medium) {
    min-height: 400px;
  }
}
.front {
  transform: rotateY(0deg);
}

.back {
  position: absolute;
  inset: 0;
  z-index: 0;
  transform: rotateY(180deg);
}

.text {
  font-weight: $font-weight-bold;
  font-size: clamp(24px, 3vw, 48px);
  margin-top: 10px;
  text-align: center;
}
