.text {
  font-size: clamp(32px, 7vw, 96px);
  font-weight: $font-weight-bold;
  padding: 20px 0;
  line-height: 1;
  padding-left: 20%;
  @include breakpoint(medium) {
    padding-left: 40%;
  }
}

.module {
  margin: clamp(100px, 15vw, 300px) 0;
}
