.text {
  font-size: clamp(32px, 7vw, 96px);
  font-weight: $font-weight-bold;
  padding: 20px 0;
  line-height: 1;
  text-align: center;
  padding: 0 10%;
  @include breakpoint(medium) {
    padding: 0;
    text-align: left;
    padding-left: 40%;
  }
}

.module {
  margin: clamp(100px, 15vw, 300px) 0;
}
