.module {
  h2 {
    text-transform: none;
    font-size: clamp(18px, 4vw, 28px);
    margin-bottom: 5px;
    line-height: 1.2;
    margin-top: 15px;
  }
  .inner {
    display: block;
  }

  &.large {
    @include breakpoint(large) {
      .image {
        padding-bottom: 62%;
      }
      h2 {
        font-size: clamp(24px, 5vw, 64px);
      }

      .content {
        margin-top: 35px;
        font-size: clamp(16px, 3vw, 24px);
      }
    }
  }
}

.text {
  line-height: 1.6;
}
.image {
  position: relative;
  width: 100%;
  padding-bottom: 52%;
  background: #444;
}

.information {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.content {
  margin-top: 20px;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  background: rgba($white, 0.75);
  font-weight: $font-weight-bold;
  padding: 5px 20px 5px 15px;
  border-radius: 5px;
  margin: 20px;
  margin-right: 0;
  margin-bottom: 0;
  .icon {
    margin-right: 10px;
  }
}
