.module {
  margin: 200px 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  width: 100%;
  grid-template-areas:
    "a a b"
    "c e e"
    "d e e";
}

.video {
  width: 100%;
  margin-bottom: 40px;
  video {
    width: 100%;
  }
}

.item {
  position: relative;
  width: 100%;
  min-height: 440px;
}

.item-0 {
  grid-area: a;
}

.item-1 {
  grid-area: b;
}

.item-2 {
  grid-area: c;
}

.item-3 {
  grid-area: d;
}

.item-4 {
  grid-area: e;
}