.inner {
  display: block;
  position: relative;
  .image {
    height: 800px;
    margin-left: calc(
      (100vw - #{$container-max-width}) / -2 - #{$container-padding-lg}
    );
  }
}

.image {
  height: 100%;
  position: relative;
}
.small-inner {
  position: relative;
  display: block;
  h2 {
    font-size: clamp(24px, 8vw, 64px);
  }

  .image {
    height: 400px;
    &.large {
      height: 800px;
    }
  }
}

.module {
  margin: 100px 0;
}

.content {
  z-index: 1;
  text-align: right;
  margin-top: 30px;

  h2 {
    font-family: $font-family-heading;
  }
}

.tags {
  padding-bottom: 20px;
}
