.module {
  margin: 100px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  @include breakpoint(large) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: -20px;
    grid-template-areas:
      'a a b'
      'c d d'
      'e d d'
      'f f f'
      'g g h'
      'i j j'
      'k k l'
      'k k l';
  }
}

.video {
  width: 100%;
  margin-bottom: 40px;
  video {
    width: 100%;
  }
}

.item {
  position: relative;
  display: block;
  width: 100%;
}
.inner-item {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
  @include breakpoint(large) {
    padding-bottom: 0;
    height: 500px;
  }
}
.item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  inset: 0;
  padding: clamp(30px, 3vw, 50px);
}

.item-link {
  background-color: $primary-color;
  color: $white;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-size: 48px;
  @include breakpoint(medium) {
    font-size: clamp(24px, 5vw, 64px);
  }
  svg {
    margin-top: 30px;
    fill: $white;
  }
}

@include breakpoint(large) {
  .item-0 {
    grid-area: a;
  }
  .item-1 {
    grid-area: b;
  }
  .item-2 {
    grid-area: c;
  }

  .item-3 {
    grid-area: d;
  }

  .item-4 {
    grid-area: e;
  }

  .item-5 {
    grid-area: f;
  }

  .item-6 {
    grid-area: g;
  }

  .item-7 {
    grid-area: h;
  }

  .item-8 {
    grid-area: i;
  }

  .item-9 {
    grid-area: j;
  }

  .item-10 {
    grid-area: k;
  }

  .item-11 {
    grid-area: l;
  }
}
