.inner {
  display: flex;
  height: 100vh;
  padding-top: 200px;
  width: 100%;
  padding-bottom: 50px;
}

.image {
  position: relative;
  margin-left: calc(
    (100vw - #{$container-max-width}) / -2 - #{$container-padding-lg}
  );
  width: calc(
    (100vw - #{$container-max-width}) / 2 - #{$container-padding-lg} + 85%
  );
}

.heading {
  width: 15%;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.text {
  position: absolute;
  transform: rotate(270deg);
  transform-origin: bottom left;
  left: 100%;
  width: calc(100vh - 200px);

  h1 {
    text-transform: uppercase;
    font-size: 128px;
    font-family: $font-family-heading;
  }
}
