.module {
  margin: 100px 0;
}
.grid {
  display: grid;
  grid-auto-flow: dense;
  gap: 20px;
  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(large) {
    gap: 0;
    margin: -20px;
    grid-template-areas:
      "a a b"
      "c d d"
      "e d d"
      "f f f"
      "g g h"
      "i j j"
      "k k l"
      "k k l";
  }
}

.video {
  width: 100%;
  margin-bottom: 40px;
  video {
    width: 100%;
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #eee;
  padding: 25px;
  height: calc(100vw - 30px);
  @include breakpoint(medium) {
    height: calc(50vw - 30px);
  }
  @include breakpoint(large) {
    margin: 20px;
    padding: 50px;
    height: 400px;
  }
  @include breakpoint(xlarge) {
    height: 500px;
  }
}

.item-1 {
  background-color: $primary-color;
  color: $white;
  font-size: clamp(24px, 8vw, 64px);
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  svg {
    margin-top: 30px;
    fill: $white;
  }
}

@include breakpoint(large) {
  .item-0 {
    grid-area: a;
  }
  .item-1 {
    grid-area: b;
  }
  .item-2 {
    grid-area: c;
  }

  .item-3 {
    grid-area: d;
  }

  .item-4 {
    grid-area: e;
  }

  .item-5 {
    grid-area: f;
  }

  .item-6 {
    grid-area: g;
  }

  .item-7 {
    grid-area: h;
  }

  .item-8 {
    grid-area: i;
  }

  .item-9 {
    grid-area: j;
  }

  .item-10 {
    grid-area: k;
  }

  .item-11 {
    grid-area: l;
  }
}
