.inner {
  display: block;
  position: relative;
  .image {
    padding-bottom: 90%;
    @include breakpoint(xlarge) {
      padding-bottom: 56.5%;
    }
  }
}

.image {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.inner-image {
  position: absolute;
  inset: 0;
  &.smaller {
    inset: 10%;
  }
}
.small-inner {
  position: relative;
  display: block;
  h2 {
    font-size: clamp(24px, 8vw, 64px);
  }

  .image {
    background-color: #eee;
    padding-bottom: 56.5%;
    &.large {
      padding-bottom: 130%;
    }
  }
}

.content {
  z-index: 1;
  text-align: right;
  margin-top: 20px;
  @include breakpoint(medium) {
    margin-top: 30px;
  }

  h2 {
    font-family: $font-family-heading;
  }
}

.tags {
  padding-bottom: 20px;
}
