.inner {
  position: relative;
  height: clamp(100px, 10vw, 200px);
  overflow: hidden;
}

.text {
  font-size: clamp(52px, 9vw, 128px);
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-family: $font-family-heading;
  white-space: nowrap;
  transition: 300ms linear transform;
}

.description {
  margin-bottom: 50px;
  text-align: center;
  font-size: clamp(18px, 3vw, 36px);
}
