@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,400&family=Poppins:wght@700&display=swap');

html,
body {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $background;
  color: $white;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-max-width-md;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @include breakpoint(xlarge) {
    max-width: $container-max-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-black;

  .special {
    font-family: $font-family-heading;
  }
}

h1 {
  font-size: 110px;
  line-height: 1;

  .tiny-text {
    line-height: 1.2;
    font-size: 36px;
    text-transform: uppercase;
  }
}

h2 {
  font-size: 64px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: $font-weight-black;

  .tiny-text {
    line-height: 1.2;
    font-size: 24px;
    font-weight: $font-weight-semi;
  }

}
.three-cols-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -25px;
  .column {
    width: (100%/3);
    padding: 25px;
  }
}

.margin-large-top {
  margin-top: 100px;
}