@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@700&display=swap");

html,
body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $white;
  color: $black;
  font-size: clamp(16px, 3vw, 18px);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
  width: 100%;

  @include breakpoint(large) {
    padding: 0 $container-padding-lg;
  }

  &.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;

  .special {
    font-family: $font-family-heading;
  }
}

.header-padding {
  padding-top: clamp(100px, 20vw, 300px);
}

h1 {
  font-size: clamp(58px, 5vw, 110px);
  line-height: 1;

  .tiny-text {
    line-height: 1.2;
    font-size: clamp(20px, 4vw, 36px);
    text-transform: uppercase;
  }
}

h2 {
  font-size: clamp(42px, 6vw, 96px);
  line-height: 1;
  font-weight: $font-weight-bold;

  .tiny-text {
    line-height: 1.2;
    font-size: clamp(18px, 3vw, 24px);
    font-weight: $font-weight-semi;
  }
}
.three-cols-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -25px;
  .column {
    width: (100%/3);
    padding: 25px;
  }
}

.margin-large-top {
  margin-top: 100px;
}

p {
  line-height: 1.6;
}
